.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timer {
  display: flex;
  justify-content: center;
}
.unit  {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
h2 {
  margin: 0;
  font-weight: 300;
  font-size: 100px;
  color: blueviolet;
}
.type {
  font-size: 30px;
  color: rgb(21, 21, 199);
  margin: 0 15px 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.buttons {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

button {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  padding: 5px 30px;
}

button:hover {
  background-color: #555555;
  color: white;
}